.container_treino{
    background-color: rgb(205, 205, 205);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container_exercicioo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.container_exercicios{
    background-color: #1B1832;
    border-radius: 30px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}


.container_exercicio{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
}

.botaoDeletar{
    background-color: rgb(255, 105, 105);
    font-size: 1.2rem;
    border: 2px solid rgb(255, 105, 105);
    padding: 10px 20px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 10%;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.botaoDeletar:hover{
    background-color: rgb(255, 32, 32);
    color: white;
    width: 100%;
    border-radius: 50px;
}

.botaoEditar{
    background-color: rgb(75, 75, 75);
    font-size: 1.2rem;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 10%;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.botaoEditar:hover{
    background-color: rgb(130, 130, 130);
    color: white;
    width: 100%;
    border-radius: 50px;
}

.container_btn_op{
    display: flex;
    justify-content: space-between;
}