.container_treino{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 40px;
    justify-content: space-between;
    gap:50px;
}

.container_data_treino{
    height: 20%;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.3rem;
}


.container_exercicios{
    background-color: #1B1832;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}


.container_exercicio{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 1.4rem;
    margin: 10px;
    border-radius: 20px;
}

.botaoDeletar{
    background-color: red;
    border: none;
    border-radius: 50px;

}


.container_exercicioo{
    height: 70%;
    display: flex;
    flex-direction: column;
}
