.section{
    display: flex;
    background-color: #373571;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.container_img{
    margin-right: 10%;
    margin-left: 10%;
    width: 450px;
}

.container_img img{
    width: 100%;
}

.h2{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #373571;
}