.navbar{
    height: 80px;
    background-color: #1B1832;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.navbar ul li a{
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}


.navbar ul li a:hover{
    color: #4a428a;

}

.container_logo{
    padding: 15px 20px;
}

.container_logo img{
    width: 60px;
}


.navbar ul{
    list-style: none;
    background-color: white;
    display: flex;
    width: 35%;
    border-radius: 50px;
    align-items: center;
    height: 50px;
    justify-content: space-evenly;
}


.container_profile{
    background-color: white;
    width: 150px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    font-weight: bold;
    margin-right: 50px;
    
}

.container_profile img{
    width: 40px;
    border-radius: 50px;
    margin-left: 15px;
}

.container_nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.menuToggle{
    display: none;
}



@media screen and (max-width: 480px) {

    .navbar{
        justify-content: space-between;
    }


    .container_nav{
        position: absolute;
        border-bottom: 2px solid black;
        top: 100% ;
        flex-direction: column;
        display: none;
        background-color: transparent;
        backdrop-filter: blur(20px);
        border-radius: 0px 0px 20px 20px;
    }

    .menuToggle{
        display: block;
        margin-right: 20px;
        color: white;
        cursor: pointer;
    }

    .container_nav ul{
        width: 100%;
        flex-direction: column;
        border-radius: 0;
        height: 150px;
        background-color: transparent;
    }

    .container_profile{
        border-top: 1px solid black;
        border-radius: 0;
        width: 100%;
        background-color: transparent;
    }
    .OpenMenu{
        display: block;
    }
}